*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #1B1939;
    display: grid;
    place-items: center;
    height: 60vh;
}


h1{
    display:block;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    padding-top: 120px;
    padding-bottom: 55px ;
    font-family: Poppins;
    font-weight: Regular;
    font-weight: 100;
    font-size: 60px;
}

.playBtn{
    font-size: 90px;
    color: white;
    display: grid;
    place-items: center;

    width: 280px;
    height: 140px;
    background: rgba(93,109,220,1);
    opacity: 1;
    top: 0px;
    left: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
}

.playBtn::before{
    content: "";
    display: inline block;
    border-left: 0.7em solid;
    border-top: 0.45em solid transparent;
    border-bottom: 0.45em solid transparent; 
}