*{
    font-family: Poppins;
    font-weight: Regular;
    overflow: hidden;
}

body{
    background-color: #1B1939;
    /* display: grid; */
    /* place-items: center; */
    height: 100vh;
    width: 100%;
    /* overflow: hidden; */
    padding: 0;
    margin: 0;
}

img{
    display: flex;
    padding-top: 3rem;
    padding-bottom: 1.2rem;
    height: 80vh;
    width: 100%;
}

.container{
    display: flex;
    align-items: center;
    padding-left: 2.2rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    justify-content: space-between;
}

svg{
    display: flex;
    color: white;

    background: rgba(93,109,220,1);
    height: 42px;
    width: 42px;
    opacity: 1;
    top: 0px;
    left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

/* .group{
    padding-bottom: 3.7rem;
} */

button{
    color: white;
    font-size: 1.7rem;
    background-color: #5D6DDC;
    border: 0px;

    width: 16rem;
    height: 3rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    cursor: pointer;
}